#pragma code_page(65001)

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDI_CONFIG ICON "../UserInterface/metin2.ico"

IDD_CONFIG DIALOGEX 0, 0, 262, 152
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Ayarlar"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	GROUPBOX		"Gösterge", -1, 7, 4, 120, 45
	LTEXT			"Çözünürlük", -1, 14, 17, 42, 8
	COMBOBOX		IDC_RESOLUTION, 58, 15, 62, 160, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT			"Frekans", -1, 14, 32, 42, 8
	COMBOBOX		IDC_FREQUENCY, 58, 30, 62, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"Ses", -1, 7, 52, 120, 44
	LTEXT			"BGM", -1, 14, 65, 18, 8
	RTEXT			"100", IDC_MUSIC_VOLUME_TEXT, 32, 65, 16, 8
	CONTROL			"", IDC_MUSIC_VOLUME, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | WS_TABSTOP, 50, 63, 72, 12
	LTEXT			"SFX", -1, 14, 80, 18, 8
	RTEXT			"100", IDC_VOICE_VOLUME_TEXT, 32, 80, 16, 8
	CONTROL			"", IDC_VOICE_VOLUME, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | WS_TABSTOP, 50, 78, 72, 12

	AUTOCHECKBOX	"Yazılım İmleci", IDC_SOFTWARE_CURSOR, 10, 103, 90, 10, WS_TABSTOP

	GROUPBOX		"Ekran Modu", -1, 133, 4, 122, 26
	AUTORADIOBUTTON	"Pencere", IDC_WINDOWED, 140, 15, 52, 10, WS_GROUP | WS_TABSTOP
	AUTORADIOBUTTON	"Tam Ekran", IDC_FULLSCREEN, 194, 15, 56, 10

	GROUPBOX		"IME Modu", -1, 133, 33, 122, 26, WS_GROUP
	AUTORADIOBUTTON	"Oyun IME'si", IDC_GAME_IME, 140, 44, 52, 10, WS_GROUP | WS_TABSTOP
	AUTORADIOBUTTON	"Dış IME", IDC_DEFAULT_IME, 194, 44, 56, 10

	GROUPBOX		"Grafik", -1, 133, 62, 122, 62, WS_GROUP
	LTEXT			"Sis", -1, 140, 75, 40, 8
	COMBOBOX		IDC_FOG, 182, 73, 66, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT			"TNL", -1, 140, 90, 40, 8
	COMBOBOX		IDC_TILING, 182, 88, 66, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT			"Gölge", -1, 140, 105, 40, 8
	COMBOBOX		IDC_SHADOW, 182, 103, 66, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

	DEFPUSHBUTTON	"Kaydet", IDOK, 148, 132, 52, 14
	PUSHBUTTON		"İptal", IDCANCEL, 203, 132, 52, 14
END
